<!---<div class="sidebar">
    
    <a href="#news"><i class="fa fa-fw fa-tablet"></i> PHONES & TABLETS</a>
    <a href="#contact"><i class="fa fa-fw fa-laptop"></i> COMPUTING</a>
    <a href="#about"><i class="fa fa-fw fa-camera-retro"></i> ELECTRONICS</a>
    <a href="#home"><i class="fa fa-fw fa-home"></i> HOME & OFFICE</a>
    <a href="#fashion"><i class="fa fa-fw fa-shirtsinbulk"></i> FASHION</a>
    <a href="#categories"><i class="fa fa-fw fa-bullseye"></i> OTHER CATEGORIES</a>
</div>
  
  
<div class="sidebar-content">
    <h1>Order Details</h1>
    <button>Click me</button>
</div> -->